#bid_list
.header
    .titlea 竞价
    .header-right
        button.btn.btn-primary.btn-lg.btn-block.btn-4( ng-click="start()" ng-disabled="{{!create_bid}}") 开始
    .header-left
         button.btn.btn-primary.btn-lg.btn-block.btn-4(ng-click="return()") 返回

#wrapper.wrapper.scrollable
    ul.list-style-2
        li(ng-repeat="bidlist in bidlists" class="{{bidlist.status}}" ng-click="bid_register(bidlist.bid_name)") {{bidlist.bid_name}}


footer
    ul.footer-nav.footer-nav-2tabs
        li
            a(href='#activity_register') 报名
        li.active
            a 竞价


