#bid_register
.header
    .titlea {{bid_name}}
    .header-right
        button.btn.btn-primary.btn-lg.btn-block.btn-4(ng-click='stop()') 结束
    .header-left
        button.btn.btn-primary.btn-lg.btn-block.btn-4(ng-click='return()') 返回
